{% extends "components/page.html" %}

{% block title %}Voorhoede Colibri API{% endblock %}
{% block meta %}
  <link rel="preload" href="/assets/images/api-diagram.png" as="image">
  <link rel="preload" href="/assets/fonts/raleway-extrabold-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/raleway-medium-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/notoserif-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="/api/{{ restVersion }}/swagger.json" as="fetch" type="application/json">
{% endblock %}

{% block content %}
  <main>
    <header class="page-header">
      <img alt="" src="/assets/images/api-diagram.png" class="page-header__image">
      <h1 class="page-header__title">
        {% markdown %}Access Voorhoede site content via a [RESTful](#restful-api) and [GraphQL](#graphql-api) API{% endmarkdown %}
      </h1>
    </header>

    <section class="page-content">
      {% markdown %}{% include "content/intro.md" %}{% endmarkdown %}
      <div class="explore-buttons">
        <a href="/api/{{ restVersion }}" class="button button--primary">Explore RESTful API</a>
        <a href="/graphql/" class="button button--primary">Explore GraphQL API</a>
      </div>
    </section>

    <section class="page-content">
      {% markdown %}{% include "content/rest.md" %}{% endmarkdown %}
      <h3 id="rest-example"><a href="#rest-example" class="permalink">Example use</a></h3>
      <pre class="code-block"><code>{% include 'content/rest-example-code.js' %}</code></pre>
      <details class="details">
        <summary>Output</summary>
        <pre class="code-block"><code>{% include 'content/rest-example-output.json' %}</code></pre>
      </details>
      <a href="/api/{{ restVersion }}" class="button button--primary">Explore RESTful API</a>
    </section>

    <section class="page-content">
      {% markdown %}{% include "content/graphql.md" %}{% endmarkdown %}
      <h3 id="graphql-example"><a href="#graphql-example" class="permalink">Example use</a></h3>
      <pre class="code-block"><code>{% include 'content/graphql-example-code.js' %}</code></pre>
      <details class="details">
        <summary>Output</summary>
        <pre class="code-block"><code>{% include 'content/graphql-example-output.json' %}</code></pre>
      </details>
      <a href="/graphql/" class="button button--primary">Explore GraphQL API</a>
    </section>

    <section class="page-content">
      {% markdown %}{% include "content/links.md" %}{% endmarkdown %}
    </section>

  </main>
{% endblock %}
